/*
	Name: Smashing HTML5
	Date: July 2009
	Description: Sample layout for HTML5 and CSS3 goodness.
	Version: 1.0
	Author: Enrique Ramírez
	Autor URI: http://enrique-ramirez.com
*/

#placeholder {
    height: 500px;
}

.fullButton-2 {
    width:50%;
    height:100%;
}

.fullButton-3 {
    width: 50%;
    height:66%;
}

.fullButton-3-last {
    width: 100%;
    height:33%;
}

.fullButton-5 {
    width: 50%;
    height: 40%;
}

.fullButton-5-last {
    width: 100%;
    height: 20%;
}

.fullButton-6 {
    width: 50%;
    height: 33%;
}

.title {
    font-size: 2em;
    width: 100%;
    text-align: center;
}

.title-split {
    font-size: 2em;
    width: 50%;
    display: inline-block;
    text-align: center;
}

.plotdisplay-wrapper {
    width: 50%;
    /*height: 50%;*/
    padding-top:50%;
    text-align:center;
    position:relative;
    display: inline-block;
}

.plotdisplay-wrapper:hover > .plotdisplay-img{
    webkit-filter: blur(2px);
    filter:blur(2px);
}

.plotdisplay {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}

.plotdisplay-wrapper:hover > .plotdisplay {
    display: block;
}

.plotdisplay-img {
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top:0;
}
